<?xml version="1.0"?>
<config>
	<modules>
		<Iifire_Category>
			<version>1.6.0</version>
		</Iifire_Category>
	</modules>
	<global>
		<blocks>
			<iifire_category>
				<class>Iifire_Category_Block</class>
			</iifire_category>
		</blocks>
		<helpers>
			<icategory>
				<class>Iifire_Category_Helper</class>
			</icategory>
		</helpers>
		<models>
			<iifire_category>
				<class>Iifire_Category_Model</class>
				<resourceModel>iifire_category_mysql4</resourceModel>
			</iifire_category>
			<iifire_category_mysql4>
				<class>Iifire_Category_Model_Mysql4</class>
			</iifire_category_mysql4>
		</models>
		<resources>
			<iifire_category_setup>
				<setup>
					<module>Iifire_Category</module>
				</setup>
			</iifire_category_setup>
		</resources>
	</global>
	<frontend>
        <layout>
            <updates>
                <iifire_category>
                    <file>iifire_category.xml</file>
                </iifire_category>
            </updates>
        </layout>
        <translate>
            <modules>
                <iifire_category>
                    <files>
                        <default>Iifire_Category.csv</default>
                    </files>
                </iifire_category>
            </modules>
        </translate>
       
    </frontend>
    <admin>
    	<routers>
			<adminhtml>
				<args>
					<modules>
						<Iifire_Category before="Mage_Adminhtml">Iifire_Category_Adminhtml</Iifire_Category>
					</modules>
				</args>
			</adminhtml>
		</routers>
    </admin>
	<adminhtml>
		<layout>
			<updates>
				<iifire_category>
					<file>iifire_category.xml</file>
				</iifire_category>
			</updates>
		</layout>
		<translate>
			<modules>
				<Iifire_Category>
					<files>
						<default>Iifire_Category.csv</default>
					</files>
				</Iifire_Category>
			</modules>
		</translate>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iifire_category>
                                            <title>Iifire Category</title>
                                        </iifire_category>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
	</adminhtml>
</config>