<?xml version="1.0"?>
<config>
     <modules>
            <Uscoding_Xautosku>
                <version>0.0.1</version>
            </Uscoding_Xautosku>
     </modules>
     <global>
        <blocks>
             <xautosku>
                 <class>Uscoding_Xautosku_Block</class>
             </xautosku>            
			<adminhtml>
                <rewrite>                                       
                    <catalog_product_edit>Uscoding_Xautosku_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
             <xautosku>
                 <class>Uscoding_Xautosku_Helper</class>
             </xautosku>
        </helpers>
        <models>
            <xautosku>
                <class>Uscoding_Xautosku_Model</class>
                <resourceModel>Xautosku_mysql4</resourceModel>
            </xautosku>
            <xautosku_mysql4>
                <class>Uscoding_Xautosku_Model_Mysql4</class>
                <entities>
                    <xautosku>
                        <table></table>
                    </xautosku>
                </entities>
            </xautosku_mysql4>
        </models>
         <resources>
             <xautosku_setup>
                 <setup>
                     <module>Uscoding_Xautosku</module>
                     <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                 </setup>
                 <connection>
                     <use>core_setup</use>
                 </connection>
             </xautosku_setup>
             <xautosku_setup>
                 <connection>
                     <use>core_write</use>
                 </connection>
             </xautosku_setup>
             <xautosku_setup>
                 <connection>
                     <use>core_read</use>
                 </connection>
             </xautosku_setup>
         </resources>
     </global>
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <xautosku>
                        <type>singleton</type>
                        <class>xautosku/observer</class>
                        <method>hookProductPrepareSave</method>
                    </xautosku>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
<frontend>
        <events>
            <cp_save_addon_data>
                <observers>
                    <xautosku>
                        <type>singleton</type>
                        <class>xautosku/observer</class>
                        <method>hookProductAfterSaveMultiVendor</method>
                    </xautosku>
                </observers>
            </cp_save_addon_data>
        </events>
    </frontend>

	<default>
    	<Xautosku>
	    	<mainmenu>
				<enabled>1</enabled>
                <sku_type>3</sku_type>
	    	</mainmenu>
    	</Xautosku>
    </default>
	
</config>