.ac-product-list .ajaxcart-qty { float:right; margin:-28px 10px 0 5px; }
.ac-product-list .ajaxcart-qty .qty { max-width: 30px !important; }
#ac-cart-sidebar0 { float:right; }
#ac-compare-sidebar0 { float:right; }