<?xml version="1.0"?>
<config>
    <modules>
        <Devinc_Trial>
            <version>0.1.0</version>
        </Devinc_Trial>
    </modules>   
    <adminhtml>
        <layout>
            <updates>
                <trial>
                    <file>trial.xml</file>
                </trial>
            </updates>
        </layout>
    		<acl>
    			<resources>
    				<admin>
    					<children>						
    						<system>
    						   <children>
      							<config>
      							 <children>
      							  <devinc_trial translate="title" module="trial">
      							   <title>Trials</title>
      							   <sort_order>20</sort_order>
      							  </devinc_trial>
      							 </children>
      							</config>
    						   </children>
    						</system>						
    					</children>
    				</admin>			
    			</resources>
    		</acl>
    </adminhtml>  
    <frontend>
        <routers>
            <trial>
                <use>standard</use>
                <args>
                    <module>Devinc_Trial</module>
                    <frontName>trial</frontName>
                </args>
            </trial>
        </routers>
    </frontend> 
    <global>
        <events>
          <controller_action_predispatch>
              <observers>
                  <trial_controller_action_before>
                      <class>trial/module</class>
                      <method>hookToControllerActionPreDispatch</method>
                  </trial_controller_action_before>
              </observers>
          </controller_action_predispatch>  
		    </events>
        <models>
            <trial>
                <class>Devinc_Trial_Model</class>
            </trial>
        </models>     
        <resources>
            <trial_setup>
                <setup>
                    <module>Devinc_Trial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </trial_setup>
        </resources>   
        <blocks>
            <trial>
                <class>Devinc_Trial_Block</class>
            </trial>
        </blocks>
        <helpers>
            <trial>
                <class>Devinc_Trial_Helper</class>
            </trial>
        </helpers>
    </global>
</config>